<nz-modal [(nzVisible)]="isVisible" [nzOkLoading]="isLoading" nzTitle="New animal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="formGroup">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Animal name</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please insert a name for the animal">
          <input nz-input formControlName="name" id="name"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="age" nzRequired>Age</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please insert the animal's age">
          <nz-input-number [nzMin]="0" id="age" formControlName="age" [nzStep]="1"></nz-input-number>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="weight" nzRequired>Weight</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please insert the animal's weight">
          <nz-input-number [nzMin]="0" id="weight" formControlName="weight" [nzStep]=".1"></nz-input-number>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="race" nzRequired>Race</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input the animal's race">
          <input nz-input id="race" formControlName="race"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="type" nzRequired>Type</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please insert what type of animal this is">
          <input nz-input id="type" formControlName="type"/>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
