<div nz-row [nzJustify]="'center'" [style]="'height: 100vh; padding: 5vw'">
  <div nz-col>
    <div nz-row [nzJustify]="'center'">
      <div nz-col>
        <h1 [style]="'font-size: 4em;'">My sweet little animals</h1>
      </div>
    </div>
    <nz-divider></nz-divider>
    <div nz-row [nzJustify]="'center'">
      <div nz-col>
        <button nz-button nzType="primary">New animal</button>
      </div>
    </div>
    <div nz-row [nzJustify]="'center'" [style]="'margin-top: 15px'">
      <div nz-col>
        <app-animal-table></app-animal-table>
      </div>
    </div>
  </div>
</div>
